body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  background-color: antiquewhite;
}

body a{
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  text-decoration: none;
  font-weight: 100;
}
#root {
  margin: 0;
  width: 90%;
}
.spinner-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner{

}

ol li{
  font-weight: bold;
  margin-bottom: 0.5em;
  height: 3em;
}
.postInfo{
  font-weight: 100;
  font-size: 0.8em;

}

.navbar{
  background-color: #ff6600;
  padding: 0;
  margin: 0;
  line-height: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-items{
  width: 30px;
  display: flex;
flex-direction: row;
align-items: center;
}
.title-and-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title{
  display: flex;
  flex-direction: row;
  width: 10em;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer{
  margin: 3em 0;
}

@media only screen and (min-width: 750px) {
  .title-and-menu{
    flex-direction: row;
    align-items: center;
  }
}